<% @articles.each do |article| %>
  <p>
    <%= article.title %>
    <span class="resource-link"><%= link_to "Show", article_path(article) %></span>
    <% if user_signed_in? %>
      <span class="resource-link"><%= link_to "Update", edit_article_path(article) %></span>
      <span class="resource-link"><%= link_to "Delete", article_path(article), method: :delete %></span>
    <% end %>
  </p>
<% end %>

<%= link_to("New article", new_article_path) if user_signed_in? %>
